@model IEnumerable<SalesHelmet.Models.MATHANG>
@foreach (var item in Model)
{
    @*<div class="col-12 col-md-2">
            <div class="list-group">
                <a href="@Url.Action("SPTheoMH","Helmet",new { id=item.MaMH})" class="list-group-item text-center mt-3">
                    @item.TenMH
                </a>
            </div>
        </div>*@


    <a href="@Url.Action("SPTheoMH","Helmet",new { id=item.MaMH})" style="display:flex;padding-left:15px;text-decoration:none;" class="dropdown-item">
        @item.TenMH
    </a>
}


@*<img src="~/Assets/images/product/roc/roc_r16_toong.png" width="80" height="80" />
    <h5>@Html.Action("MatHang", "Helmet")</h5>*@